---
import Layout from "../components/Layout.jsx";
import Modal from "../components/Modal.jsx";
import Navbar from "../components/Navbar.jsx";
import projects from "../data/projets.json";
import MarkdownRenderer from "../components/MarkdownRenderer.jsx";
import "../styles/projets.css";
import HeadMeta from "../components/HeadMeta.jsx";
---

<head>
  <HeadMeta />
</head>

<div class="content-wrapper">
  <Navbar client:only="react" currentPath={Astro.url.pathname} />
  <Layout>
    <h1 class="sr-only">Projets</h1>

    <!-- Cards côté serveur -->
    <div class="page_content projects-page_content">
      {
        projects.map((project, i) => (
          <card class="card" key={i}>
            <img src={project.image} alt={project.title} />
            <div class="card-infos">
              <h2>{project.title}</h2>
              <div class="card_text">
                <MarkdownRenderer content={project.description} />
              </div>
              <button class="open-modal-btn" data-project-index={i}>
                Plus
              </button>

              <div class="card_orange-border_wrapper">
                <span class="card_orange-border" />
              </div>
            </div>
          </card>
        ))
      }
    </div>

    <!-- Modale React globale -->
    <Modal projects={projects} client:load />
  </Layout>
</div>
